
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
 --main-color:#f58a17;
 --main-color2:#e9771b;
 --second-color:#ffffff;
 --text-color: #6d6c6a;
 --user-text:  #888383;
 --bg-grafic:rgb(243, 243, 243);
}
body{
    padding: 0;
    margin: 0;
    font-family:"Roboto", sans-serif ;
    box-sizing: border-box;
    color: var(--user-text);
}
a{
    color: var(--second-color) !important;
    text-decoration: none;
}
.content-intranet{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 100vh;
}
.content-intranet-menu{
    background:linear-gradient(180deg, rgb(221, 128, 7) 40%, rgb(224, 163, 29) 100%);
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.menu .menu-img{
    width: 100px;
    margin: 0;
}
.menu .menu-img img{
    width: 100%;
}
.btn{
    border: 0;
    color: var(--second-color);
    padding: 1rem 2rem;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--main-color);
    transition: .2s ease-in;
}
.btn:hover{
    background-color: #da7707;
}
.menu-contnet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
}
.menu ul{
    list-style-type: none;
    color: var(--text-color);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
    color: #eed3b0;
    justify-content: space-between;
    width: 100%;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.menu ul li{
    margin: .6rem;
}
.menu ul li:hover{
color: var(--text-color);
}
.menu ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: .7rem;
}
.menu ul li a img{
    width: 25px;
    object-fit: cover;
}
.content-intranet-section{
    background:linear-gradient(180deg, rgb(221, 128, 7) 40%, rgb(224, 163, 29) 100%);
    padding: 1rem;
}
.content-card-section{
    height: 95vh;
    width: 100%;
    display: flex;
    gap: .2rem;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    
}

/* search page Users */
    .adduserorSearch{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: .3rem 1rem;
        align-items: center;
        background-color: var(--second-color);
    }
    .adduserorSearch input[type="text"]{
        padding: 1rem;
        width: 400px;
        border: 0;
        background-color: antiquewhite;
    }
    .adduserorSearch input[type="text"]:focus {
        border: 0;
        outline: 2px solid #ffffff; /* Agrega un borde de enfoque personalizado */
    }
    
    .adduserorSearch input[type="text"]:active {
        border: 0;
    }

    /* filter */
    .filterCompany{
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: end;
        padding: .8rem 1rem;
        align-items: center;
        background-color: var(--second-color);
    }
    /* type users */
    .type-users{
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: var(--user-text);
    }
    .type-users h3{
        width: 200px;
    }

  
    /* users list */
    .card-user-scroll{
        width: 100%;
        height: 75vh;
        overflow-y: scroll !important;
        display: flex;
        flex-direction: column;
        gap: 1rem 0;
        
    }
    .all-Users{
        display: flex;
        flex-direction: column;
        padding: .1rem 1rem;
        padding-right: 0;
        font-size: .7rem;
        align-items: center;
        background-color: var(--second-color);
    }
    .card-user{
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: var(--text-color);
    }
    .all-Users h2{
        width: 200px;
    }
    .user{
        width: 200px;
        color: var(--text-color);

        display: flex;
        align-items: center;
        justify-content: start;
        font-size: .7rem;
        gap: .3rem;
        margin: 0;
        padding: 0;
    }
   
    .user h2{
        width: auto;
        font-size: 1rem;
    }
    .user div{
        width: 35px;
    }
    .user div img{
        width: 100%;
    }
/* insights */
.Dashboard-scroll{
    overflow-y: scroll;
}
.Dashboardtitle{
    background-color: var(--second-color);
    padding: .5rem 1rem;
    border-radius: 20px;
}
.Grafic-content{
    background-color: var(--second-color);
    padding: 1rem;
    border-radius: 20px;
}

.grafic-content-dashboard{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items:start;
    justify-content: center;
    flex: 2;
    flex-wrap: wrap;
    width: 100%;
}
.grafic-content-dashboard-two{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.grafic-content-dashboard-two article{
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.grafic-content-dashboard-item{
    display: flex;
    background-color: var(--bg-grafic);
    height: 300px;
    width: 500px;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.grafic-content-dashboard-item .grafic-circle{
    width: 500px;
    height: 250px;
}


/* user grafic  */
.grafic-content-dashboard-item-user{
    border-radius: 20px;
    order: 2;
    background-color: var(--bg-grafic);
    padding: 1rem;
    gap: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.user-grafic-content{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.user-grafic-content h2{
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: rgb(34, 33, 33);
    font-size: 1rem;
}
.user-grafic-content .admin{
    color: rgb(197, 197, 197);
    font-size: .8rem;
}

.user-grafic-content div{
    width: 70px;
    height: 70px;
    border-radius: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}
.user-grafic-content div img{
    width: 100%;
    object-fit: content;
}

/* new activities */
    .newActivities{
        display: flex;
        width: 100%;
        height: 150px;
        align-items: start;
        justify-content: space-between;
        flex-direction: column;
    }
    .newActivities h2{
        font-weight: bold;
        margin: 0;
        font-size: 1.2rem;
        color: #2b2a2a;
    }
    .user-activities{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .newActivities .user-activities .user-activities-img{
        width: 50px;
        height: 50px;
        border-radius: 360px;
        overflow: hidden;
    }
    .newActivities .user-activities-img img{
        width: 100%;
        object-fit: cover;
    }
    .newActivities .user-activities .text{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .newActivities .user-activities h2{
        font-size: 1rem;
        margin: 0;
        color: #2b2a2a;
    }
    .newActivities .user-activities h3{
        font-size: .8rem;
        margin: 0;
        color: #c4c3c3;
    }
    /* grafic items options */
    .grafic-content-dashboard-item-options{
        display: flex;
        padding: 1rem;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        flex-wrap: wrap;
    }
    .options-item{
        display: flex;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 200px;
        height: 200px;
        background-color: #f0efef;
        transition: .2s all ease-in;
        cursor: pointer;
    }
    .options-item:hover{
        transform: scale(1.1);
        background-color: #c4c4c4;
    }
    .options-item h2{
        font-size: 1rem;
        margin: 0;
        color: #3b3a3a;
    }
    .options-item-img{
        width: 40px;
        
    }
    .options-item-img img{
        width: 100%;
        object-fit: cover;
    }
    /* Setting section */



/* Para pantallas con un ancho máximo de 600px */
@media (max-width: 600px) {
    body {
        font-size: 15px;
        background-color: lightgray;
    }
    .menu ul li a img{
        display: none;
    }
    .grafic-content-dashboard-item-user{
        padding: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .grafic-content-dashboard-two article{
        width: 250px;
    }
    .content-intranet{
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: 100px 100fr;
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }
    .menu ul {
        display: flex;
        width: auto;
        flex-direction: row;
        align-items: center;
    justify-content: center;
    }

    .content-intranet-menu{
        background:linear-gradient(180deg, rgb(221, 128, 7) 40%, rgb(224, 163, 29) 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .content-card-section{
        height: auto;
        width: 100%;
        display: flex;
        gap: .2rem;
        flex-direction: column;
        border-radius: 20px;
        overflow: hidden;
    }
    .options-item{
        width: 100px;
        height: 100px;
    }
    .menu-contnet{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .tickets{
        width: 450px !important;
    }
}

